In [1]:
#Read the following data set:
#https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
#Task:
#5. Write two function queries

In [2]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [3]:
adult = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',header=None)
adult_sample = adult.sample(frac=0.1)
adult_sample.columns=['age', 'workclass', 'fnlwgt','education','education-num','marital-status','occupation',
             'relationship','race','sex','capital-gain','capital-loss', 'hours-per-week',
                   'native-country','grossincome']
adult_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3256 entries, 1425 to 535
Data columns (total 15 columns):
age               3256 non-null int64
workclass         3256 non-null object
fnlwgt            3256 non-null int64
education         3256 non-null object
education-num     3256 non-null int64
marital-status    3256 non-null object
occupation        3256 non-null object
relationship      3256 non-null object
race              3256 non-null object
sex               3256 non-null object
capital-gain      3256 non-null int64
capital-loss      3256 non-null int64
hours-per-week    3256 non-null int64
native-country    3256 non-null object
grossincome       3256 non-null object
dtypes: int64(6), object(9)
memory usage: 407.0+ KB

In [4]:
engine = create_engine('sqlite:///:memory:', echo=True)
adult_sample.to_sql('adult_sql', con=engine)

2018-12-03 00:50:11,853 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-12-03 00:50:11,855 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:50:11,863 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-12-03 00:50:11,868 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:50:11,872 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("adult_sql")
2018-12-03 00:50:11,875 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:50:11,888 INFO sqlalchemy.engine.base.Engine
CREATE TABLE adult_sql (
	"index" BIGINT,
	age BIGINT,
	workclass TEXT,
	fnlwgt BIGINT,
	education TEXT,
	"education-num" BIGINT,
	"marital-status" TEXT,
	occupation TEXT,
	relationship TEXT,
	race TEXT,
	sex TEXT,
	"capital-gain" BIGINT,
	"capital-loss" BIGINT,
	"hours-per-week" BIGINT,
	"native-country" TEXT,
	grossincome TEXT
)


2018-12-03 00:50:11,892 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:50:11,897 INFO sqlalchemy.engine.base.Engine COMMIT
2018-12-03 00:50:11,907 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_adult_sql_index ON adult_sql ("index")
2018-12-03 00:50:11,914 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:50:11,919 INFO sqlalchemy.engine.base.Engine COMMIT
2018-12-03 00:50:11,935 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-12-03 00:50:12,080 INFO sqlalchemy.engine.base.Engine INSERT INTO adult_sql ("index", age, workclass, fnlwgt, education, "education-num", "marital-status", occupation, relationship, race, sex, "capital-gain", "capital-loss", "hours-per-week", "native-country", grossincome) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-12-03 00:50:12,098 INFO sqlalchemy.engine.base.Engine ((1425, 46, ' Private', 134727, ' 11th', 7, ' Divorced', ' Machine-op-inspct', ' Unmarried', ' Amer-Indian-Eskimo', ' Male', 0, 0, 43, ' Germany', ' <=50K'), (3869, 49, ' Private', 107425, ' Masters', 14, ' Never-married', ' Sales', ' Not-in-family', ' White', ' Female', 0, 0, 35, ' United-States', ' <=50K'), (11697, 55, ' Private', 213894, ' 11th', 7, ' Separated', ' Adm-clerical', ' Unmarried', ' Black', ' Female', 0, 0, 40, ' United-States', ' <=50K'), (12086, 66, ' Private', 167711, ' HS-grad', 9, ' Widowed', ' Sales', ' Not-in-family', ' White', ' Female', 0, 0, 40, ' United-States', ' >50K'), (16249, 30, ' Private', 131699, ' HS-grad', 9, ' Divorced', ' Transport-moving', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (2373, 57, ' Private', 205708, ' Some-college', 10, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 0, 0, 40, ' Poland', ' <=50K'), (27588, 20, ' Private', 204641, ' Some-college', 10, ' Never-married', ' Other-service', ' Own-child', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (19271, 31, ' Private', 117963, ' HS-grad', 9, ' Never-married', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 60, ' United-States', ' <=50K')  ... displaying 10 of 3256 total bound parameter sets ...  (9182, 46, ' Private', 123598, ' Some-college', 10, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 48, ' United-States', ' >50K'), (535, 39, ' Local-gov', 207853, ' 12th', 8, ' Married-civ-spouse', ' Tech-support', ' Husband', ' White', ' Male', 0, 0, 50, ' United-States', ' <=50K'))
2018-12-03 00:50:12,136 INFO sqlalchemy.engine.base.Engine COMMIT

In [13]:
q = """
    SELECT
      avg(age)
      ,min(age)
      ,max(age)
    FROM
      adult_sql
    WHERE
      sex = ' Female'
      AND workclass = ' Private'
    GROUP BY
      sex      
    ;
"""

In [14]:
engine.execute(q).fetchall()

2018-12-03 00:57:52,848 INFO sqlalchemy.engine.base.Engine
    SELECT
      avg(age)
      ,min(age)
      ,max(age)
    FROM
      adult_sql
    WHERE
      sex = ' Female'
      AND workclass = ' Private'
    GROUP BY
      sex
    ;

2018-12-03 00:57:52,854 INFO sqlalchemy.engine.base.Engine ()

[(35.83879423328965, 17, 90)]

In [15]:
q1 = """
    SELECT
      sex
      , workclass
      , avg("hours-per-week")
    FROM
      adult_sql
    WHERE
      sex = ' Male'
      AND workclass = ' Private'
    GROUP BY
      sex      
    ;
"""

In [16]:
engine.execute(q1).fetchall()

2018-12-03 01:00:14,800 INFO sqlalchemy.engine.base.Engine
    SELECT
      sex
      , workclass
      , avg("hours-per-week")
    FROM
      adult_sql
    WHERE
      sex = ' Male'
      AND workclass = ' Private'
    GROUP BY
      sex
    ;

2018-12-03 01:00:14,802 INFO sqlalchemy.engine.base.Engine ()

[(' Male', ' Private', 42.76355323318093)]