In [1]:
#Read the following data set:
#https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
#Task:
#1. Create an sqlalchemy engine using a sample from the data set

In [2]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [3]:
adult = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',header=None)

In [4]:
adult_sample = adult.sample(frac=0.1)

In [5]:
adult_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3256 entries, 31466 to 4378
Data columns (total 15 columns):
0     3256 non-null int64
1     3256 non-null object
2     3256 non-null int64
3     3256 non-null object
4     3256 non-null int64
5     3256 non-null object
6     3256 non-null object
7     3256 non-null object
8     3256 non-null object
9     3256 non-null object
10    3256 non-null int64
11    3256 non-null int64
12    3256 non-null int64
13    3256 non-null object
14    3256 non-null object
dtypes: int64(6), object(9)
memory usage: 407.0+ KB

In [6]:
engine = create_engine('sqlite:///:memory:', echo=True)

In [7]:
adult_sample.columns=['age', 'workclass', 'fnlwgt','education','education-num','marital-status','occupation',
             'relationship','race','sex','capital-gain','capital-loss', 'hours-per-week',
                   'native-country','grossincome']

In [8]:
adult_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3256 entries, 31466 to 4378
Data columns (total 15 columns):
age               3256 non-null int64
workclass         3256 non-null object
fnlwgt            3256 non-null int64
education         3256 non-null object
education-num     3256 non-null int64
marital-status    3256 non-null object
occupation        3256 non-null object
relationship      3256 non-null object
race              3256 non-null object
sex               3256 non-null object
capital-gain      3256 non-null int64
capital-loss      3256 non-null int64
hours-per-week    3256 non-null int64
native-country    3256 non-null object
grossincome       3256 non-null object
dtypes: int64(6), object(9)
memory usage: 407.0+ KB

In [9]:
adult_sample.to_sql('adult_sql', con=engine)

2018-12-03 00:05:13,503 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-12-03 00:05:13,507 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:05:13,510 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-12-03 00:05:13,512 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:05:13,515 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("adult_sql")
2018-12-03 00:05:13,518 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:05:13,527 INFO sqlalchemy.engine.base.Engine
CREATE TABLE adult_sql (
	"index" BIGINT,
	age BIGINT,
	workclass TEXT,
	fnlwgt BIGINT,
	education TEXT,
	"education-num" BIGINT,
	"marital-status" TEXT,
	occupation TEXT,
	relationship TEXT,
	race TEXT,
	sex TEXT,
	"capital-gain" BIGINT,
	"capital-loss" BIGINT,
	"hours-per-week" BIGINT,
	"native-country" TEXT,
	grossincome TEXT
)


2018-12-03 00:05:13,529 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:05:13,539 INFO sqlalchemy.engine.base.Engine COMMIT
2018-12-03 00:05:13,542 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_adult_sql_index ON adult_sql ("index")
2018-12-03 00:05:13,543 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:05:13,546 INFO sqlalchemy.engine.base.Engine COMMIT
2018-12-03 00:05:13,563 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-12-03 00:05:13,646 INFO sqlalchemy.engine.base.Engine INSERT INTO adult_sql ("index", age, workclass, fnlwgt, education, "education-num", "marital-status", occupation, relationship, race, sex, "capital-gain", "capital-loss", "hours-per-week", "native-country", grossincome) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-12-03 00:05:13,648 INFO sqlalchemy.engine.base.Engine ((31466, 24, ' Private', 213902, ' 7th-8th', 4, ' Never-married', ' Priv-house-serv', ' Own-child', ' White', ' Female', 0, 0, 32, ' El-Salvador', ' <=50K'), (25388, 27, ' Private', 78529, ' HS-grad', 9, ' Never-married', ' Transport-moving', ' Own-child', ' White', ' Female', 0, 0, 15, ' United-States', ' <=50K'), (13102, 33, ' Private', 180859, ' HS-grad', 9, ' Divorced', ' Exec-managerial', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (13074, 62, ' ?', 123612, ' Bachelors', 13, ' Married-civ-spouse', ' ?', ' Husband', ' White', ' Male', 0, 0, 4, ' United-States', ' <=50K'), (1649, 59, ' Private', 143372, ' 10th', 6, ' Divorced', ' Adm-clerical', ' Not-in-family', ' Black', ' Female', 0, 0, 40, ' United-States', ' <=50K'), (31293, 54, ' Private', 215990, ' HS-grad', 9, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K'), (881, 32, ' Private', 270335, ' Bachelors', 13, ' Married-civ-spouse', ' Adm-clerical', ' Other-relative', ' White', ' Male', 0, 0, 40, ' Philippines', ' >50K'), (27296, 23, ' Self-emp-not-inc', 111296, ' 11th', 7, ' Never-married', ' Craft-repair', ' Own-child', ' White', ' Male', 0, 0, 50, ' Mexico', ' <=50K')  ... displaying 10 of 3256 total bound parameter sets ...  (9641, 42, ' Private', 121055, ' Some-college', 10, ' Never-married', ' Sales', ' Not-in-family', ' White', ' Male', 0, 0, 45, ' United-States', ' <=50K'), (4378, 45, ' Private', 178215, ' 9th', 5, ' Married-civ-spouse', ' Machine-op-inspct', ' Wife', ' White', ' Female', 0, 0, 40, ' United-States', ' >50K'))
2018-12-03 00:05:13,682 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
engine.execute('SELECT * FROM adult_sql LIMIT 2;').fetchall()

2018-12-03 00:06:24,550 INFO sqlalchemy.engine.base.Engine SELECT * FROM adult_sql LIMIT 2;
2018-12-03 00:06:24,552 INFO sqlalchemy.engine.base.Engine ()

[(31466, 24, ' Private', 213902, ' 7th-8th', 4, ' Never-married', ' Priv-house-serv', ' Own-child', ' White', ' Female', 0, 0, 32, ' El-Salvador', ' <=50K'),
 (25388, 27, ' Private', 78529, ' HS-grad', 9, ' Never-married', ' Transport-moving', ' Own-child', ' White', ' Female', 0, 0, 15, ' United-States', ' <=50K')]