In [1]:
#Read the following data set:
#https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
#Task:
#2. Write two basic update queries

In [2]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [3]:
adult = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',header=None)

In [4]:
adult_sample = adult.sample(frac=0.1)
adult_sample.columns=['age', 'workclass', 'fnlwgt','education','education-num','marital-status','occupation',
             'relationship','race','sex','capital-gain','capital-loss', 'hours-per-week',
                   'native-country','grossincome']
adult_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3256 entries, 22382 to 8861
Data columns (total 15 columns):
age               3256 non-null int64
workclass         3256 non-null object
fnlwgt            3256 non-null int64
education         3256 non-null object
education-num     3256 non-null int64
marital-status    3256 non-null object
occupation        3256 non-null object
relationship      3256 non-null object
race              3256 non-null object
sex               3256 non-null object
capital-gain      3256 non-null int64
capital-loss      3256 non-null int64
hours-per-week    3256 non-null int64
native-country    3256 non-null object
grossincome       3256 non-null object
dtypes: int64(6), object(9)
memory usage: 407.0+ KB

In [6]:
engine = create_engine('sqlite:///:memory:', echo=True)
adult_sample.to_sql('adult_sql', con=engine)

2018-12-03 00:11:18,658 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-12-03 00:11:18,660 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:11:18,662 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-12-03 00:11:18,663 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:11:18,677 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("adult_sql")
2018-12-03 00:11:18,681 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:11:18,719 INFO sqlalchemy.engine.base.Engine
CREATE TABLE adult_sql (
	"index" BIGINT,
	age BIGINT,
	workclass TEXT,
	fnlwgt BIGINT,
	education TEXT,
	"education-num" BIGINT,
	"marital-status" TEXT,
	occupation TEXT,
	relationship TEXT,
	race TEXT,
	sex TEXT,
	"capital-gain" BIGINT,
	"capital-loss" BIGINT,
	"hours-per-week" BIGINT,
	"native-country" TEXT,
	grossincome TEXT
)


2018-12-03 00:11:18,727 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:11:18,733 INFO sqlalchemy.engine.base.Engine COMMIT
2018-12-03 00:11:18,743 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_adult_sql_index ON adult_sql ("index")
2018-12-03 00:11:18,750 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:11:18,757 INFO sqlalchemy.engine.base.Engine COMMIT
2018-12-03 00:11:18,773 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-12-03 00:11:18,879 INFO sqlalchemy.engine.base.Engine INSERT INTO adult_sql ("index", age, workclass, fnlwgt, education, "education-num", "marital-status", occupation, relationship, race, sex, "capital-gain", "capital-loss", "hours-per-week", "native-country", grossincome) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-12-03 00:11:18,880 INFO sqlalchemy.engine.base.Engine ((22382, 52, ' Private', 164530, ' 11th', 7, ' Divorced', ' Machine-op-inspct', ' Not-in-family', ' Black', ' Female', 0, 0, 20, ' United-States', ' <=50K'), (19768, 63, ' Private', 339755, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' White', ' Male', 0, 0, 50, ' ?', ' >50K'), (31032, 22, ' ?', 219122, ' Some-college', 10, ' Never-married', ' ?', ' Own-child', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (30551, 45, ' Private', 288437, ' HS-grad', 9, ' Married-civ-spouse', ' Transport-moving', ' Husband', ' Other', ' Male', 4064, 0, 40, ' United-States', ' <=50K'), (32288, 21, ' Private', 67804, ' 9th', 5, ' Never-married', ' Machine-op-inspct', ' Own-child', ' Black', ' Male', 0, 0, 20, ' United-States', ' <=50K'), (4076, 39, ' Self-emp-not-inc', 211785, ' HS-grad', 9, ' Never-married', ' Craft-repair', ' Own-child', ' Black', ' Female', 0, 0, 20, ' United-States', ' <=50K'), (25044, 18, ' ?', 126154, ' Some-college', 10, ' Never-married', ' ?', ' Own-child', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (20136, 44, ' Private', 377018, ' Assoc-voc', 11, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' >50K')  ... displaying 10 of 3256 total bound parameter sets ...  (13324, 33, ' Private', 388741, ' Some-college', 10, ' Never-married', ' Adm-clerical', ' Unmarried', ' Other', ' Female', 0, 0, 38, ' United-States', ' <=50K'), (8861, 42, ' Private', 266710, ' Some-college', 10, ' Separated', ' Adm-clerical', ' Unmarried', ' Black', ' Female', 0, 0, 41, ' United-States', ' <=50K'))
2018-12-03 00:11:18,918 INFO sqlalchemy.engine.base.Engine COMMIT

In [8]:
engine.execute('SELECT DISTINCT workclass FROM adult_sql;').fetchall()

2018-12-03 00:14:14,422 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT workclass FROM adult_sql;
2018-12-03 00:14:14,427 INFO sqlalchemy.engine.base.Engine ()

[(' Private',),
 (' ?',),
 (' Self-emp-not-inc',),
 (' State-gov',),
 (' Federal-gov',),
 (' Local-gov',),
 (' Self-emp-inc',),
 (' Without-pay',),
 (' Never-worked',)]

In [12]:
engine.execute('UPDATE adult_sql SET workclass = "UNKNOWN" WHERE workclass = " ?";')

2018-12-03 00:16:43,600 INFO sqlalchemy.engine.base.Engine UPDATE adult_sql SET workclass = "UNKNOWN" WHERE workclass = " ?";
2018-12-03 00:16:43,602 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:16:43,608 INFO sqlalchemy.engine.base.Engine COMMIT

In [13]:
engine.execute('SELECT DISTINCT workclass FROM adult_sql').fetchall()

2018-12-03 00:16:45,338 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT workclass FROM adult_sql
2018-12-03 00:16:45,340 INFO sqlalchemy.engine.base.Engine ()

[(' Private',),
 ('UNKNOWN',),
 (' Self-emp-not-inc',),
 (' State-gov',),
 (' Federal-gov',),
 (' Local-gov',),
 (' Self-emp-inc',),
 (' Without-pay',),
 (' Never-worked',)]

In [14]:
engine.execute('SELECT DISTINCT occupation FROM adult_sql;').fetchall()

2018-12-03 00:18:26,456 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT occupation FROM adult_sql;
2018-12-03 00:18:26,459 INFO sqlalchemy.engine.base.Engine ()

[(' Machine-op-inspct',),
 (' Prof-specialty',),
 (' ?',),
 (' Transport-moving',),
 (' Craft-repair',),
 (' Tech-support',),
 (' Sales',),
 (' Exec-managerial',),
 (' Other-service',),
 (' Adm-clerical',),
 (' Handlers-cleaners',),
 (' Farming-fishing',),
 (' Priv-house-serv',),
 (' Protective-serv',)]

In [15]:
engine.execute('UPDATE adult_sql SET occupation = " UNKNOWN" WHERE occupation = " ?";')

2018-12-03 00:19:03,577 INFO sqlalchemy.engine.base.Engine UPDATE adult_sql SET occupation = " UNKNOWN" WHERE occupation = " ?";
2018-12-03 00:19:03,579 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:19:03,583 INFO sqlalchemy.engine.base.Engine COMMIT

In [16]:
engine.execute('SELECT DISTINCT occupation FROM adult_sql;').fetchall()

2018-12-03 00:19:15,889 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT occupation FROM adult_sql;
2018-12-03 00:19:15,893 INFO sqlalchemy.engine.base.Engine ()

[(' Machine-op-inspct',),
 (' Prof-specialty',),
 (' UNKNOWN',),
 (' Transport-moving',),
 (' Craft-repair',),
 (' Tech-support',),
 (' Sales',),
 (' Exec-managerial',),
 (' Other-service',),
 (' Adm-clerical',),
 (' Handlers-cleaners',),
 (' Farming-fishing',),
 (' Priv-house-serv',),
 (' Protective-serv',)]