In [1]:
#Read the following data set:
#https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
#Task:
#3. Write two delete queries

In [2]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [15]:
adult = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',header=None)
adult_sample = adult.sample(frac=0.1)
adult_sample.columns=['age', 'workclass', 'fnlwgt','education','education-num','marital-status','occupation',
             'relationship','race','sex','capital-gain','capital-loss', 'hours-per-week',
                   'native-country','grossincome']
adult_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3256 entries, 9634 to 317
Data columns (total 15 columns):
age               3256 non-null int64
workclass         3256 non-null object
fnlwgt            3256 non-null int64
education         3256 non-null object
education-num     3256 non-null int64
marital-status    3256 non-null object
occupation        3256 non-null object
relationship      3256 non-null object
race              3256 non-null object
sex               3256 non-null object
capital-gain      3256 non-null int64
capital-loss      3256 non-null int64
hours-per-week    3256 non-null int64
native-country    3256 non-null object
grossincome       3256 non-null object
dtypes: int64(6), object(9)
memory usage: 407.0+ KB

In [16]:
engine = create_engine('sqlite:///:memory:', echo=True)
adult_sample.to_sql('adult_sql', con=engine)

2018-12-03 00:37:11,073 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-12-03 00:37:11,074 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:37:11,077 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-12-03 00:37:11,079 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:37:11,081 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("adult_sql")
2018-12-03 00:37:11,086 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:37:11,091 INFO sqlalchemy.engine.base.Engine
CREATE TABLE adult_sql (
	"index" BIGINT,
	age BIGINT,
	workclass TEXT,
	fnlwgt BIGINT,
	education TEXT,
	"education-num" BIGINT,
	"marital-status" TEXT,
	occupation TEXT,
	relationship TEXT,
	race TEXT,
	sex TEXT,
	"capital-gain" BIGINT,
	"capital-loss" BIGINT,
	"hours-per-week" BIGINT,
	"native-country" TEXT,
	grossincome TEXT
)


2018-12-03 00:37:11,093 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:37:11,096 INFO sqlalchemy.engine.base.Engine COMMIT
2018-12-03 00:37:11,097 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_adult_sql_index ON adult_sql ("index")
2018-12-03 00:37:11,099 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:37:11,114 INFO sqlalchemy.engine.base.Engine COMMIT
2018-12-03 00:37:11,124 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-12-03 00:37:11,222 INFO sqlalchemy.engine.base.Engine INSERT INTO adult_sql ("index", age, workclass, fnlwgt, education, "education-num", "marital-status", occupation, relationship, race, sex, "capital-gain", "capital-loss", "hours-per-week", "native-country", grossincome) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-12-03 00:37:11,228 INFO sqlalchemy.engine.base.Engine ((9634, 51, ' Private', 251487, ' 7th-8th', 4, ' Widowed', ' Machine-op-inspct', ' Not-in-family', ' Amer-Indian-Eskimo', ' Female', 0, 0, 40, ' United-States', ' <=50K'), (32420, 23, ' Private', 45834, ' Bachelors', 13, ' Never-married', ' Exec-managerial', ' Not-in-family', ' White', ' Female', 0, 0, 50, ' United-States', ' <=50K'), (8878, 30, ' Private', 158688, ' HS-grad', 9, ' Married-civ-spouse', ' Machine-op-inspct', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (7715, 24, ' Private', 249351, ' HS-grad', 9, ' Married-civ-spouse', ' Machine-op-inspct', ' Wife', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K'), (31548, 46, ' Private', 164877, ' Some-college', 10, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 0, 0, 44, ' United-States', ' <=50K'), (14717, 63, ' ?', 110150, ' HS-grad', 9, ' Married-civ-spouse', ' ?', ' Husband', ' White', ' Male', 0, 0, 55, ' United-States', ' >50K'), (18896, 48, ' Private', 105138, ' HS-grad', 9, ' Divorced', ' Exec-managerial', ' Unmarried', ' Asian-Pac-Islander', ' Female', 0, 0, 40, ' United-States', ' <=50K'), (24968, 58, ' Private', 100313, ' Some-college', 10, ' Married-civ-spouse', ' Protective-serv', ' Husband', ' White', ' Male', 0, 1902, 40, ' United-States', ' >50K')  ... displaying 10 of 3256 total bound parameter sets ...  (10955, 43, ' ?', 396116, ' HS-grad', 9, ' Married-civ-spouse', ' ?', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (317, 22, ' Private', 399087, ' 5th-6th', 3, ' Married-civ-spouse', ' Machine-op-inspct', ' Other-relative', ' White', ' Female', 0, 0, 40, ' Mexico', ' <=50K'))
2018-12-03 00:37:11,257 INFO sqlalchemy.engine.base.Engine COMMIT

In [5]:
engine.execute('SELECT age FROM adult_sql WHERE age > 80;').fetchall()

2018-12-03 00:28:15,272 INFO sqlalchemy.engine.base.Engine SELECT age FROM adult_sql WHERE age > 80;
2018-12-03 00:28:15,276 INFO sqlalchemy.engine.base.Engine ()

[(88,), (81,), (90,), (84,), (81,), (90,), (82,), (90,), (85,), (84,), (90,)]

In [6]:
engine.execute('DELETE FROM adult_sql WHERE age > 80;')

2018-12-03 00:28:56,592 INFO sqlalchemy.engine.base.Engine DELETE FROM adult_sql WHERE age > 80;
2018-12-03 00:28:56,594 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:28:56,603 INFO sqlalchemy.engine.base.Engine COMMIT

In [7]:
engine.execute('SELECT age FROM adult_sql WHERE age > 80;').fetchall()

2018-12-03 00:29:07,837 INFO sqlalchemy.engine.base.Engine SELECT age FROM adult_sql WHERE age > 80;
2018-12-03 00:29:07,839 INFO sqlalchemy.engine.base.Engine ()

[]

In [18]:
engine.execute('SELECT COUNT(*) FROM adult_sql WHERE "native-country" = " ?";').fetchall()

2018-12-03 00:37:56,190 INFO sqlalchemy.engine.base.Engine SELECT COUNT(*) FROM adult_sql WHERE "native-country" = " ?";
2018-12-03 00:37:56,192 INFO sqlalchemy.engine.base.Engine ()

[(66,)]

In [19]:
engine.execute('DELETE FROM adult_sql WHERE "native-country" = " ?";')

2018-12-03 00:38:00,461 INFO sqlalchemy.engine.base.Engine DELETE FROM adult_sql WHERE "native-country" = " ?";
2018-12-03 00:38:00,463 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:38:00,466 INFO sqlalchemy.engine.base.Engine COMMIT

In [21]:
engine.execute('SELECT COUNT(*) FROM adult_sql WHERE "native-country" = " ?";').fetchall()

2018-12-03 00:38:25,894 INFO sqlalchemy.engine.base.Engine SELECT COUNT(*) FROM adult_sql WHERE "native-country" = " ?";
2018-12-03 00:38:25,897 INFO sqlalchemy.engine.base.Engine ()

[(0,)]