In [1]:
#Read the following data set:
#https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
#Task:
#4. Write two filter queries

In [2]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [3]:
adult = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',header=None)
adult_sample = adult.sample(frac=0.1)
adult_sample.columns=['age', 'workclass', 'fnlwgt','education','education-num','marital-status','occupation',
             'relationship','race','sex','capital-gain','capital-loss', 'hours-per-week',
                   'native-country','grossincome']
adult_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3256 entries, 16148 to 217
Data columns (total 15 columns):
age               3256 non-null int64
workclass         3256 non-null object
fnlwgt            3256 non-null int64
education         3256 non-null object
education-num     3256 non-null int64
marital-status    3256 non-null object
occupation        3256 non-null object
relationship      3256 non-null object
race              3256 non-null object
sex               3256 non-null object
capital-gain      3256 non-null int64
capital-loss      3256 non-null int64
hours-per-week    3256 non-null int64
native-country    3256 non-null object
grossincome       3256 non-null object
dtypes: int64(6), object(9)
memory usage: 407.0+ KB

In [4]:
engine = create_engine('sqlite:///:memory:', echo=True)
adult_sample.to_sql('adult_sql', con=engine)

2018-12-03 00:40:16,554 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-12-03 00:40:16,558 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:40:16,566 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-12-03 00:40:16,574 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:40:16,580 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("adult_sql")
2018-12-03 00:40:16,583 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:40:16,597 INFO sqlalchemy.engine.base.Engine
CREATE TABLE adult_sql (
	"index" BIGINT,
	age BIGINT,
	workclass TEXT,
	fnlwgt BIGINT,
	education TEXT,
	"education-num" BIGINT,
	"marital-status" TEXT,
	occupation TEXT,
	relationship TEXT,
	race TEXT,
	sex TEXT,
	"capital-gain" BIGINT,
	"capital-loss" BIGINT,
	"hours-per-week" BIGINT,
	"native-country" TEXT,
	grossincome TEXT
)


2018-12-03 00:40:16,603 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:40:16,606 INFO sqlalchemy.engine.base.Engine COMMIT
2018-12-03 00:40:16,608 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_adult_sql_index ON adult_sql ("index")
2018-12-03 00:40:16,610 INFO sqlalchemy.engine.base.Engine ()
2018-12-03 00:40:16,618 INFO sqlalchemy.engine.base.Engine COMMIT
2018-12-03 00:40:16,633 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-12-03 00:40:16,778 INFO sqlalchemy.engine.base.Engine INSERT INTO adult_sql ("index", age, workclass, fnlwgt, education, "education-num", "marital-status", occupation, relationship, race, sex, "capital-gain", "capital-loss", "hours-per-week", "native-country", grossincome) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-12-03 00:40:16,781 INFO sqlalchemy.engine.base.Engine ((16148, 28, ' Self-emp-inc', 153291, ' HS-grad', 9, ' Never-married', ' Adm-clerical', ' Own-child', ' White', ' Female', 0, 0, 35, ' United-States', ' <=50K'), (3281, 31, ' Local-gov', 446358, ' Doctorate', 16, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Male', 0, 0, 50, ' Mexico', ' >50K'), (26672, 30, ' Private', 206325, ' 11th', 7, ' Married-civ-spouse', ' Craft-repair', ' Husband', ' White', ' Male', 0, 0, 45, ' United-States', ' <=50K'), (16367, 28, ' Private', 278736, ' 5th-6th', 3, ' Married-civ-spouse', ' Machine-op-inspct', ' Husband', ' White', ' Male', 0, 0, 40, ' Mexico', ' <=50K'), (13946, 25, ' Private', 396633, ' Some-college', 10, ' Married-civ-spouse', ' Adm-clerical', ' Wife', ' Black', ' Female', 0, 0, 56, ' United-States', ' >50K'), (29049, 34, ' Private', 98101, ' 7th-8th', 4, ' Married-civ-spouse', ' Transport-moving', ' Husband', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (23272, 25, ' Private', 109419, ' HS-grad', 9, ' Never-married', ' Adm-clerical', ' Own-child', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K'), (32203, 51, ' Federal-gov', 223206, ' Doctorate', 16, ' Married-civ-spouse', ' Prof-specialty', ' Husband', ' Asian-Pac-Islander', ' Male', 15024, 0, 40, ' Vietnam', ' >50K')  ... displaying 10 of 3256 total bound parameter sets ...  (12717, 58, ' Private', 183870, ' HS-grad', 9, ' Divorced', ' Adm-clerical', ' Not-in-family', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K'), (217, 38, ' Private', 182609, ' Bachelors', 13, ' Married-civ-spouse', ' Sales', ' Husband', ' White', ' Male', 0, 0, 50, ' Poland', ' <=50K'))
2018-12-03 00:40:16,836 INFO sqlalchemy.engine.base.Engine COMMIT

In [6]:
engine.execute('SELECT * FROM adult_sql WHERE workclass = " Private" and sex = " Male" and "native-country" = " India";').fetchall()

2018-12-03 00:43:25,701 INFO sqlalchemy.engine.base.Engine SELECT * FROM adult_sql WHERE workclass = " Private" and sex = " Male" and "native-country" = " India";
2018-12-03 00:43:25,704 INFO sqlalchemy.engine.base.Engine ()

[(18968, 27, ' Private', 154210, ' 11th', 7, ' Married-spouse-absent', ' Sales', ' Own-child', ' Asian-Pac-Islander', ' Male', 0, 0, 35, ' India', ' <=50K'),
 (4512, 29, ' Private', 193260, ' Bachelors', 13, ' Married-civ-spouse', ' Craft-repair', ' Other-relative', ' Asian-Pac-Islander', ' Male', 0, 0, 30, ' India', ' <=50K')]

In [7]:
engine.execute('select * from adult_sql where education = " Masters" and "native-country" = " India"').fetchall()

2018-12-03 00:46:49,378 INFO sqlalchemy.engine.base.Engine select * from adult_sql where education = " Masters" and "native-country" = " India"
2018-12-03 00:46:49,381 INFO sqlalchemy.engine.base.Engine ()

[(9793, 45, ' State-gov', 94754, ' Masters', 14, ' Married-civ-spouse', ' Adm-clerical', ' Husband', ' White', ' Male', 0, 0, 40, ' India', ' <=50K')]